@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-main-primary:#381838;
  --color-main-secundary: #700B3E;
  --color-main-tertiary: #EBB2C9;
  --color-dg-primary: #8F7B8E;
  --color-dg-secundary: #D4B2C3;
  --color-dg-tertiary: #F5F0F5;
}

body {
  background-color: var(--color-dg-tertiary);
}
#hero {
  background-image: url(/HeroX4.jpg);
  height: 90vh;
}
.nav-bg {
  background-color: var(--color-main-primary);
}
.bg-card{
  background-color: var(--color-main-primary);
}
.bt-color {
  background-color: var(--color-main-secundary);
  color: var(--color-dg-tertiary);
}
.bd-color {
  border: 3px solid var(--color-dg-tertiary);
}
.cr-color {
  background-color: var(--color-main-primary);
  color: var(--color-dg-tertiary);
}
.tc {
  color: var(--color-dg-tertiary);
}